body {
  margin: 0;
  padding: 0;
}

.page {
  font-size: 14px;
  font-family: sans-serif;
  margin: 16px;
}

.menu {

}

.menu-item {
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  margin: -8px;
}

.button {
  cursor: pointer;
  margin: 8px;
  padding: 8px;
  background-color: #F07D00;
  color: white;
}

.section {
  display: none;
  margin-top: 24px;
}

.section-visible {
  display: block;
}

.section-title {
  font-size: 16px;
}

.section-body {
  margin-top: 16px;
}

.task {
  margin-bottom: 24px;
}

.task-title {
  margin-bottom: 8px;
}