/*
 * Task 1
 */

.section-center-vertically .task1 .center-container {
  position: relative;
}

.section-center-vertically .task1 .center-inner {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

/*
 * Task 2
 */

.section-center-vertically .task2 .center-container {
  line-height: 300px;
}

.section-center-vertically .task2 .center-inner {
  display: inline-block;
  vertical-align: middle;
}