/*
 * Task 1
 */

.section-vertical-line .task1 .element-container {
  display: flex;
  flex-direction: column;
}

.section-vertical-line .task1 .element {
  margin-bottom: 0;
}

.section-vertical-line .task1 .element:last-child {
  margin-bottom: 8px;
}


/*
 * Task 2
 */

.section-vertical-line .task2 .element {
  display: block;
}