/*
 * Task 1
 */

.section-center-horizontally .task1 .center-container {
}

.section-center-horizontally .task1 .center-inner {
  margin: 0 auto;
}

/*
 * Task 2
 */

.section-center-horizontally .task2 .center-container {
  text-align: center;
}

.section-center-horizontally .task2 .center-inner {
  display: inline-block;
}