/*
 * Task 1
 */

.section-center-middle .task1 .center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-center-middle .task1 .center-inner {
}

/*
 * Task 2
 */

.section-center-middle .task2 .center-container {
  position: relative;
}

.section-center-middle .task2 .center-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}