/*
 * Task 1
 */

.section-horizontal-line .task1 .element-container {
  display: flex;
}

/*
 * Task 2
 */

.section-horizontal-line .task2 .element-container {
  font-size: 0;
}

.section-horizontal-line .task2 .element {
  display: inline-block;
  font-size: 14px;
}
