.section-center-horizontally .center-container {
  width: 300px;
  height: 100px;
  border: 1px solid #9E9E9E;
}

.section-center-horizontally .center-inner {
  width: 100px;
  height: 100px;
  background-color: #3F51B5;
}